/* FONTS */
@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Regular.woff2') format('woff2'),
      url('../font/PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Medium.woff2') format('woff2'),
      url('../font/PublicSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Thin.woff2') format('woff2'),
      url('../font/PublicSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-color: #9597A5;
  --hover-color: #30C88F;
  --btn-color: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --footer-bg: #2D314D;
  --footer-font: #fff;
  --choose-section-bg: #F4F5F7;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', 'Arial', sans-serif;
  background-color: #F2F2F2;
  color: var(--font-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* SITE HEADER */

.site-header {
  position: relative;
  z-index: 99;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo--img {
  display: block;
}

.site-header__nav {
  margin-left: auto;
  margin-right: auto;
}

.site-header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.site-header__item {
  position: relative;
  margin-right: 30px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.1px;
}

.site-header__item::after {
  position: absolute;
  content: "";
  bottom: -32px;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  background: var(--btn-color);
  transition: height 0.3s ease;
}

.site-header__item-link {
  display: inline-block;
  text-decoration: none;
  color: var(--font-color);
  transition: color 0.3s ease;
}

.site-header__item:hover::after {
  height: 4px;
}

.site-header__item:hover .site-header__item-link {
  color: var(--footer-bg);
}

.button {
  display: inline-block;
  padding: 8px 39px;
  border-radius: 22px;
  background: var(--btn-color);
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--footer-font);
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.4;
}

.button:active {
  opacity: 0.2;
}

/* HERO */

.site-hero {
  position: relative;
  z-index: 1;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url(../img/hero-bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 565px) calc(50% - 65px);
  background-color: #fafafa;
}

.site-hero::after {
  display: block;
  position: absolute;
  z-index: 1;
  top: calc(-20% + 40px);
  left: calc(50% + 100px);
  content: "";
  width: 729px;
  height: 900px;
  background-image: url(../img/hero-phones-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.site-hero__container {
  display: flex;
  align-items: center;
}

.site-hero__content {
  max-width: 400px;
}

.site-headings {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.7px;
  color: var(--footer-bg);
}

.site-hero__heading {
  margin: 0 0 24px 0;
  padding: 0;
  font-size: 56px;
}

.site-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
}

.site-hero__desc {
  margin: 0 0 36px;
  padding: 0;
}

/* CHOOSE SECTION */

.choose-section {
  padding-top: 96px;
  padding-bottom: 94px;
  background-color: #F4F5F7;
}

.choose-section__title {
  margin-bottom: 72px;
  max-width: 635px;
}

.choose-section__heading {
  margin: 0 0 16px;
  padding: 0;
}

.choose-section__desc {
  margin: 0;
}

.choose-section__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.choose-section__item {
  margin-right: 30px;
  width: 255px;
}

.choose-section__item::before {
  display: block;
  margin-bottom: 40px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  content: "";
}

.choose-section__item:first-child::before {
  background: url(../img/icon/list-before-1.svg), var(--btn-color);
  background-repeat: no-repeat;
  background-position: center center;
}

.choose-section__item:nth-child(2)::before {
  background: url(../img/icon/list-before-2.svg), var(--btn-color);
  background-repeat: no-repeat;
  background-position: center center;
}

.choose-section__item:nth-child(3)::before {
  background: url(../img/icon/list-before-3.svg), var(--btn-color);
  background-repeat: no-repeat;
  background-position: center center;
}

.choose-section__item:nth-child(4)::before {
  background: url(../img/icon/list-before-4.svg), var(--btn-color);
  background-repeat: no-repeat;
  background-position: center center;
}

.choose-section__item--heading {
  margin: 0 0 24px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
}

.choose-section__item--text {
  margin: 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
}

/* LATEST SECTION */

.latest-section {
  padding-top: 80px;
  padding-bottom: 104px;
  background-color: #fafafa;
}

.latest-section__list {
  display: flex;
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.latest-section__item {
  max-width: 255px;
  border-radius: 5px;
  background-color: #fff;
}

.latest-section__item--wrap {
  padding: 25px;
}

.latest-section__item--wrap a {
  display: block;
  text-decoration: none;
  color: var(--font-color);
}

.latest-section__item--text {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 18px; 
  transition: color 0.3s ease; 
}

.latest-section__item--text:hover {
  color: var(--hover-color);
}

.latest-section__item--heading {
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--font-color);
  transition: color 0.3s ease;
}

.latest-section__item--heading:hover {
  color: var(--hover-color);
}

.latest-section__item--desc {
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  transition: color 0.3s ease;
}

.latest-section__item--desc:hover {
  color: var(--hover-color);
}

.site-footer {
  padding-top: 49px;
  padding-bottom: 49px;
  background-color: var(--footer-bg);
}

.site-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer__logo-social {
  margin-right: auto;
}

.site-footer__socials {
  display: flex;
  align-items: center;
  margin: 55px 0 0 0;
  padding: 0;
  list-style: none;
}

.site-footer__social {
  margin-right: 14px;
}

.site-footer__social--link {
  color: var(--footer-font);
  transition: color 0.3s ease;
}

.site-footer__social--link:hover {
  color: var(--hover-color);
}

.site-footer__navs {
  margin: 0;
  margin-right: 120px;
  padding: 0;
  list-style: none;
}

.site-footer__nav {
  margin-bottom: 8px;
  text-transform: capitalize;
}

.site-footer__link {
  font-size: 15px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-footer__link:hover {
  color: var(--hover-color);
}

.site-footer__btn-copied {
  margin-left: auto;
}

.site-footer__button {
  margin-bottom: 24px;
  margin-left: 65px;
}

.site-footer__copied {
  margin: 0;
  padding: 0;
}